<div class="max-w-3xl mx-auto p-6 bg-white shadow-lg rounded-lg">
    <h2 class="text-2xl font-bold text-center text-gray-800 mb-6">Ticket Details</h2>
  
    <!-- Ticket Details Section -->
    <div *ngIf="ticket" class="space-y-6">
      <div class="space-y-2">
        <p><strong>Payment Id:</strong> {{ ticket.paymentId }}</p>
        <p><strong>Payment Method:</strong> {{ ticket.paymentMethod }}</p>
        <p><strong>Paid Amount:</strong> Rs. {{ ticket.totalAmount }}</p>
        <p><strong>Paid At:</strong> {{ ticket.paymentDateAndTime | date: 'yyyy-MM-dd  hh:MM a' }}</p>
        <p><strong>Paid By:</strong> {{ ticket.userName }}</p>
        <p><strong>Transaction Id:</strong> {{ticket.transactionId}}</p>
        <p><strong>Reservation Id:</strong> {{ ticket.reservationId }}</p>
        <p><strong>Departure Date:</strong> {{ ticket.departureDate | date:'yyyy-MM-dd'}}</p>
        <p><strong>Departure Time:</strong> {{ ticket.departureTime}}</p>
        <p><strong>From: </strong> {{ ticket.from }}</p>
        <p><strong>To:</strong> {{ ticket.to }}</p>
        <p><strong>Seats:</strong> {{ ticket.seatNumbers }}</p>
      </div>
    </div>
  
    <!-- Payment Confirmation Section -->
    <!-- <div class="text-center mt-8">
      <p class="text-lg text-green-600 font-semibold">Payment Status: Successful</p>
    </div> -->
  </div>
  