<div class="flex justify-center items-center h-screen bg-gray-100">
    <div class="bg-white p-8 rounded-lg shadow-md w-96">
      <h2 class="text-2xl font-semibold text-center mb-4">Bus</h2>
      
      <form [formGroup]="busForm" (ngSubmit)="onSubmit()">
        <!-- Username -->
        <div>
          <label>Bus Number</label>
          <input type="text" formControlName="userName">
          <div *ngIf="f['userName'].touched && f['userName'].invalid">
            Username is required and must be at least 3 characters long.
          </div>
        </div>

        <div>
            <label>Capacity</label>
            <input type="text" formControlName="userName">
            <div *ngIf="f['userName'].touched && f['userName'].invalid">
              Username is required and must be at least 3 characters long.
            </div>
          </div>

          

  
        <!-- Role -->
        <!-- <div class="mb-4">
          <label class="block text-gray-700">Role</label>
          <select formControlName="role"
            class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:border-blue-500">
            <option value="admin">Admin</option>
            <option value="passenger">Passenger</option>
          </select>
        </div> -->
  
        <!-- Submit Button -->
        <button type="submit" [disabled]="busForm.invalid"
          class="w-full bg-blue-500 text-white py-2 rounded-lg hover:bg-blue-600 transition duration-300">
          Register
        </button>
      </form>
    </div>
  </div>